html {
	font-size: 150%;
}

body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: serif;
}

pre, code {
	font-size: 1em;
}

box {
	border: 1px solid #e0e0e0;
    padding: 1em;
    display: inline-block;
}

main {
	margin-left: 17em;
	padding: 1em;
}

aside {
	position: fixed;
	width: 15em;
	height: 100vh;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	overflow-y: auto;
}