aside {
	position: fixed;
	left: -15em;
	top: 0;
	width: 15em;
	height: 100vh;
	border-right: 1px solid currentColor;
	z-index: 1000;
}

main {
	margin-left: 0;
}

/* menu button */
#menu-button {
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 1100;
}

/* hide checkbox */
#menu-toggle {
	display: none;
}

/* open menu */
#menu-toggle:checked ~ aside {
	left: 0;
}

/* push content */
#menu-toggle:checked ~ main {
	margin-left: 15em;
}
