aside {
	position: fixed;
	left: -16em;
	top: 0;
	width: 15em;
	height: 100vh;
	z-index: 1000;
}

main {
	margin-left: 0;
}

/* menu button */
#menu-button {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
	cursor: pointer;
}

/* hide checkbox */
#menu-toggle {
	display: none;
}

/* toggle menu */
#menu-toggle:checked ~ aside {
	left: 0;
}