html {
	font-size: 100%;
}

pre, code {
	font-size: 0.8em;
}

aside {
	position: fixed;
	left: -16em;
	top: 0;
	width: 15em;
	height: 100vh;
	z-index: 1000;
	background: #121212;
}

main {
	margin-left: 0;
	padding-top: 3em;
}

#menu-button {
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	font-size: 1.5em;
	cursor: pointer;
	z-index: 1100;
	user-select: none;
}

#menu-toggle {
	display: none;
}

#menu-toggle:checked ~ aside {
	left: 0;
}